#album-tracks {
    grid-template-columns: auto;
    padding: 10px 30px;
}

.duration {
    display: block;
}

.track-row {
    grid-template-columns: 55px auto 50px 50px
}

.track-row:hover {
    background-color: #1d1d1d;
}

#album-tracks-header {
    grid-column-gap: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 120px;
}

#duration-header svg {
    width: 20px;
    height: 20px;
}

#duration-header {
    padding-left: 5px;
}

#album-information {
    flex-direction: row;
}

#album-cover-header {
    width: 21.264%;
    margin-right: 50px;
    margin-bottom: 0;
}

#album-name {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

#album-artist:hover {
    text-decoration: underline;
}

#album-credits {
    display: block;
}

.option-button {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
}

.submenu {
    padding: 10px 0;
    display: none;
    background-color: rgba(52, 52, 52, 0.98);
    position: absolute;
    right: 100%;
    bottom: 20%;
    z-index: 1;
    white-space: nowrap;
}

.submenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.submenu ul li {
    padding: 0;
    cursor: pointer;
}

.submenu ul li a {
    display: block;
    padding: 8px 10px;
}