#artist-information {
    flex-direction: row;
}

#artist-cover-header {
    width: 21.264%;
    margin-right: 50px;
    margin-bottom: 0;
}

#artist-name {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

#artist-albums {
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 10px;
}

.album {
    padding: 20px;
}

.album-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.album-cover:hover {
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: color;
    cursor: pointer;
}