body {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 60px;
    grid-template-areas:
        'nav main'
        'footer footer';
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        grid-template-columns: auto;
        grid-template-rows: auto 50px 50px;
        grid-template-areas:
            'main'
            'footer'
            'nav';
    }
}

main {
    grid-area: main;
}