li div {
    display: none;
}

li a div {
    display: none;
}

li {
    display: inline;
    padding: 0;
}

nav ol {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 40px;
    transform: scale(120%, 120%);
    margin: 0;
    height: 100%;
}