.nav {
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1em;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover {
    background-color: lightgrey;
    color: black;
}

input {
    padding: 2px;
    text-indent: 5px;
}

.artistBackground1 {
    background-color: darkgrey;
    height: 40%
}

.artistBackground2 {
    background-color: lightgrey;
    height: 60%
}
