#lastbtn {
    display: block;
    width: 24px;
    height: 26px;
    margin-left: 25px;
}

#player_seekbar {
    display: block;
    flex: 1;
    flex-basis: 0;
}

#inner_container {
    margin: 0 50px;
    display: flex;
    align-items: center;
    position: relative;
}

#counter, #duration {
    font-size: 0.85rem;
    font-weight: lighter;
    position: absolute;
    top: 0;
}

#counter {
    right: 100%;
}

#duration {
    left: 100%;
}

#progressbar {
    height: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    position: inherit;
    margin: 0 10px;
}

#slider {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0;
}

#active-slider {
    height: 2px;
    background: linear-gradient(1deg, #ff4500, #ff5a00);
    will-change: width;
    width: 0;
    position: absolute;
    left: 0;
}

#slider-pos {
    height: 2px;
    width: calc(100% + 16px);
    z-index: 1;
    opacity: 0;
    position: absolute;
    left: -10px;
}

#progressbar:hover > div, #progressbar:hover > input {
    height: 4px;
}

#player_track {
    min-width: 120px;
    width: 18.5%;
}

#player_settings {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#player_settings button {
    height: 26px;
    width: 28px;
    margin: 0 5px;
}

#repeat_mode {
    --no_repeat: M0,8 h18 v2 h-18 z;
    --all_repeat: M9,1 a8,8 0 0 0 0,16 a8,8 0 1 0 0,-16 z m0,2 a6,6 0 1 1 0,12 a6,6 0 0 1 0,-12 z;
    --one_repeat: M9,0 v16 h-2 v-12 l-3,2.5 l-1.3,-1.5 z;
}