{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/homepage.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <div id="divBot">
        <div id="divTop">
            <a href="{{ path('signin') }}">Sign in</a>
            <a href="{{ path('signup') }}">Sign up</a>
        </div>
        <div id="middleBox">
                <p>Wir verwenden Cookies, um Ihnen das bestmögliche Erlebnis auf unserer Website zu bieten.</p>
            <div>
                <div id="bannerButton" onclick="hideBanner()">
                    Verstanden
                </div>
            </div>
        </div>
        <script>
            function hideBanner() {
                document.getElementById('middleBox').style.display = 'none';
            }
        </script>
    </div>
{% endblock body %}