{% extends 'naviagtion.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/aurora.js"></script>
    <script src="/assets/flac.js"></script>
    <script src="/assets/mp3.js"></script>
    <script src="/assets/song_control.js"></script>
{% endblock javascripts %}

{% block main %}
    <div class="row">
        <div class="col-3">
            <img onclick="play_pause('{{audio_directory}}'+'{{ song[0].directory }}')" src="/images/under-construction.gif" alt="under construction"/>
        </div> <!-- 25% -->
        <div class="col-9">
            <audio controls>
                <source type="audio/flac" src="{{ audio_directory }}/Trivium/(2005) Ascendancy (Special Edition) [320]/03 Pull Harder on the Strings of Your Martyr.mp3">
            </audio>
        </div> <!-- 75% -->
    </div>
{% endblock main %}