{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <!-- TODO: create navigation bar -->
    </nav>
    <main>
        {% block main %}{% endblock main %}
    </main>

{% endblock body %}