{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/logged_in_grid.css" rel="stylesheet">
    <link href="/assets/css/player.css" rel="stylesheet">
    <link href="/assets/css/player_smartphone.css" rel="stylesheet" media="only screen and (max-width: 600px)">
    <link href="/assets/css/player_desktop.css" rel="stylesheet" media="only screen and (min-width: 600px)">
{% endblock stylesheets %}

{% block javascripts %}
{% endblock javascripts %}

{% block body %}

    <main>
        <header>
            <form id="search_form">
                <input id="search_content" placeholder="Search">
            </form>
        </header>
        {% block main %}{% endblock main%}
    </main>

    {{ render_esi(path('player')) }}
{% endblock body %}
