{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/nav_style.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <nav class="nav">
        <input type="text" placeholder="Search..." style="border-radius: 25px;">
        <a href="">Home</a>
        <a href="">Artist</a>
    </nav>
    <main>
        <div class="col-12 artistBackground1">
        </div>
        <div class="col-12 artistBackground2">
        </div>
        {% block main %}{% endblock main %}
    </main>
{% endblock body %}