<link href="/assets/css/player.css" rel="stylesheet">
<link href="/assets/css/player_smartphone.css" rel="stylesheet" media="only screen and (max-width: 600px)">
<link href="/assets/css/player_desktop.css" rel="stylesheet" media="only screen and (min-width: 600px)">

<footer>
    <div id="player_track">
        <div id="track">Thanks For Asking</div>
        <div id="artist">Five Finger Death Punch</div>
    </div>
    <div id="player_seekbar">
        <div id="inner_container">
            <div id="counter">0:00</div>
            <div id="progressbar">
                <div id="slider"></div>
                <div id="active-slider"></div>
            </div>
            <div id="duration">3:18</div>
        </div>
    </div>
    <div id="player_settings"></div>
    <div id="player_control">
        <button id="lastbtn">
            <svg>
                <path d="M0 0 h2 v8 l12 8 v-16 l-12 8 v8 h-2 Z"/>
            </svg>
        </button>
        <button id="playbtn">
            <svg>
                <path d="M0 0 l18 11 l-18 11 Z" id="play"/>
            </svg>
        </button>
        <button id="nextbtn">
            <svg>
                <path d="M0 0 l12 8 v8 h2 v-16 h-2 v8 l-12 8 Z"/>
            </svg>
        </button>
    </div>
    <div id="player_queue"></div>
</footer>