<script type="text/javascript" src="/assets/js/player.js"></script>
<footer>
    <div id="player_track">
        <div id="track">Thanks For Asking</div>
        <div id="artist">Five Finger Death Punch</div>
    </div>
    <div id="player_seekbar">
        <div id="inner_container">
            <div id="counter">0:00</div>
            <div id="progressbar">
                <div id="slider"></div>
                <div id="active-slider"></div>
                <input type="range" step="0.01" min="0" max="0" id="slider-pos">
            </div>
            <div id="duration">3:18</div>
        </div>
    </div>
    <div id="player_settings">
        <button>
            <svg id="track_order">
                <path d="M0,5 h6 c1,0 5,8 6,8 h2 v3 l4,-5 h-6 c-1,0 -5,-8 -6,-8 h-6 z
                         M12,3 h2 v-3 l4,5 h-6 z
                         M0,11 h6 v2 h-6 z"/>
            </svg>
        </button>
        <button  id="track_repeat">
            <svg>
                <path d="M0,8 h18 v2 h-18 z" id="repeat_mode"/>
            </svg>
        </button>
        <button id="track_volume">
            <svg>
                <path d="M0,5 h6 l6,-5 v16 l-6,-5 h-6 z
                         M17,2 v12 h2 v-12 z"/>
            </svg>
        </button>
    </div>
    <div id="player_control">
        <button id="lastbtn">
            <svg>
                <path d="M0 0 h2 v8 l12 8 v-16 l-12 8 v8 h-2 Z"/>
            </svg>
        </button>
        <button id="playbtn">
            <svg>
                <path d="M0 0 l18 11 l-18 11 Z" id="play"/>
            </svg>
        </button>
        <button id="nextbtn">
            <svg>
                <path d="M0 0 l12 8 v8 h2 v-16 h-2 v8 l-12 8 Z"/>
            </svg>
        </button>
    </div>
    <div id="player_queue"></div>
</footer>