{% for artist in artists %}
    <div>{{ artist.name }}</div>
{% endfor %}
{% for album in albums %}
    <div>{{ album.name }}</div>
{% endfor %}
{% for track in tracks %}
    <div>{{ track.name }}</div>
{% endfor %}